<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @user.email %>
</p>

<%= react_component('UserImages', {data: @user.images}) %>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
